* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #022f6dc2;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #022f6dc2;
}
.logo-icon{
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  display :flex;
  font-family:'Poppins';
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
}
nav a:hover {
  color: #f3c13a;
}

.btn {
  background: none;
  border: 1px solid white;
  color: white;
  border-radius: 30px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 0.9rem;
}
#login{
    background-color: white;
    border: 1px solid white;
    color: #022f6dc2;
    transition: all 0.3s ease;
    border-radius: 30px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 0.9rem;
}
#login:hover {
  opacity: 0.85;
}

#login .arrow {
  transition: all 0.3s ease;
}

#login:hover .arrow {
  content: "→";     
  display: inline-block;
  transform: translateX(2px); 
}


.nav-btn{
    display: flex;
    margin: 0px;
    padding: 10px 16px;
    gap: 12px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 150px;
  min-height: 80vh;
}

.hero-text h1 {
  font-size: 3.5rem;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 1.5rem;
  color: #ddd;
}

.hero-image {
  position: relative;
}

.hero-image .cards {
  width: 400px;
  margin-top: 80px;
}
